<div class="mdc-card mdc-theme--background">
    <div class="card-head">
        <h3 class="mdc-typography--overline mdc-theme--secondary">Matchup Summary</h3>
        {{> toggle_button}}
    </div>

    <div class="card-body">
        <div class="mdc-card__supporting-text" id="matchup-display">
            <h4 class="mdc-typography--caption" id="matchup-title"></h4>
            <span id="matchup-overview"></span>
        </div>
    </div>

    <div id="matchup-buttons" class="mdc-card__actions">
        <button id="matchup-filter-button" class="mdc-card__action mdc-button mdc-button--primary collapse-button matchup-button" data-section="matchup-filters">Filters</button>
        <button id="matchup-override-button" class="mdc-card__action mdc-button mdc-button--primary collapse-button matchup-button" data-section="matchup-overrides">Overrides</button>
    </div>
</div>
