@import "theme.scss";
@import "material-components-web/material-components-web";

/*
 * Page wide styles
 */
html, body {
    font-family: "Roboto", sans-serif;
    background-color: $mdc-theme-background-dark;
    background-image: url("https://kagerochart.com/images/site/type.png");
    background-blend-mode: luminosity;
    background-repeat: repeat;
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    color: $text-color;
}

li {
    list-style-type: none;
}

a {
    color: $mdc-theme-primary;
}

/*
 * Mobile Specific Style
 */
@media (min-width: 480px) and (max-width: 700px), (max-width: 380px) {
    div#char-panel > div.char-info > .mdc-card {
        min-width: 260px;
    }

    .tab-panel.build-fields {
        .mdc-form-field {
            justify-content: center;
        }
    }
}

/*
 * Ads
 */
#ad-above-fold {
    align-self: stretch;
    justify-content: flex-end;
}

/*
 * Selects
 */

.mdc-select {
    //Set background image to change caret icon
    position: relative;
    width: 100%;

    option {
        background-color: $mdc-theme-background-light;
    }
}

.select-sizer {
    display: block;
    width: auto;
    overflow: hidden;
}

.attribute-link {
    position: relative;
    display: block;
    vertical-align: middle;
    text-align: center;
    top: 14px;
    left: 4px;
    font-size: 28px;
    width: 32px;
    float: right;

    i {
        color: inherit;
        font-size: inherit;
    }

    i:hover {
        color: rgba($mdc-theme-primary, 0.7);
    }
}

span.attribute-link {
    i {
        cursor: default;
        color: transparent;
        user-select: none;
    }

    i:hover {
        color: transparent;
    }
}

/*
 * Tabs
 */
#override-tab-bar, #char-tab-bar-1, #char-tab-bar-2 {
    width: 100%;

    .mdc-tab {
        min-width: 96px;
        width: 50%;
        @include mdc-states-base-color($mdc-theme-primary);
        @include mdc-states-hover-opacity(.09);
        @include mdc-states-focus-opacity(.05);
        @include mdc-states-press-opacity(.25);
    }

    .mdc-tab-bar__indicator {
        background-color: $mdc-theme-primary;
    }

}

/*
 * Cards
 */
.mdc-card__actions {
    border-top: 1px solid rgba(255,255,255,.12);
}


.mdc-card {

    --mdc-layout-grid-gutter-desktop: 8px;
    --mdc-layout-grid-gutter-tablet: 8px;
    --mdc-layout-grid-gutter-phone: 8px;

    --mdc-layout-grid-margin-desktop: 8px;
    --mdc-layout-grid-margin-tablet: 8px;
    --mdc-layout-grid-margin-phone: 8px;

    align-self: flex-start;

    p {
        line-height: 1.618em;
        font-weight: 400;
        font-size: 1.1em;
        word-spacing: 1px;
    }

    .card-head {
        position: relative;
        padding: 2px 16px;
        background: rgba(0,0,0,0.1);
    }

    .mdc-icon-toggle {
        position: absolute;
        top: 4px;
        right: 4px;

        @include mdc-icon-toggle-ink-color($mdc-theme-secondary);
        @include mdc-states-base-color($mdc-theme-secondary);
        @include mdc-states-hover-opacity(.09);
        @include mdc-states-focus-opacity(.05);
        @include mdc-states-press-opacity(.25);
    }

    #char-build-info-1, #char-build-info-2 {
        margin-bottom: 12px;
    }

    .mdc-typography--caption {
        text-align: center;
        margin-bottom: 0;
    }


    .stat-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        .mdc-text-field {
            flex: 1 1 20px;
            margin: 8px;
        }
    }
}

/*
 * Mode Switcher
 */

#modes {
    .mdc-form-field {
        display: inline-flex;
    }
}

.stat-info {
    border-top: 1px solid rgba(#fff, 0.12);
}

/*
 * Character Panel
 */


div#char-panel {

    max-width: 123ch;

    div.char-info, div#matchup-overrides {

        .mdc-tab-bar {
            border-top: 1px solid rgba(#fff, 0.12);
            padding-top: 12px;
            margin: 12px 0 8px 0;
        }

        .tab-panel {
            min-height: 350px;
            display: none;
        }

        .mdc-card__actions {
            border-top: 1px solid rgba(#fff, 0.12);
        }

        div.char-slots-container {
            margin-top: 8px;
            margin-bottom: 12px;
            padding: 0;
            display: block;
            width: 100%;
            height: auto;

            > div {
                display: flex;
                width: 100%;
                flex-flow: row nowrap;
                margin-left: 4px;
                align-items: flex-start;

                > img {
                    flex: 1 1 20%;
                    display: block;
                    position: relative;
                    width: 32px;
                    max-width: 75px;
                    height: auto;
                    margin-right: 4px;
                }
            }
        }

        .char-tab {
            border: solid 1px $text-color;
            background-size: cover;
            vertical-align: middle;
            border-radius: 50%;
        }

        .char-tab:hover {
            border: solid 1px $text-color;
            cursor: pointer;
            border-radius: 50%;
        }

        .char-tab-selected {
            border: solid 1px $mdc-theme-secondary;
            background-size: cover;
            vertical-align: middle;
            border-radius: 50%;
        }

        .char-tab-unselected {
            border: solid 1px $text-color;
            background-size: cover;
            vertical-align: middle;
            border-radius: 50%;
        }

        .char-tab-unselected:hover {
            cursor: pointer;
            border: solid 1px white;
            border-radius: 50%;
        }
    }

    .matchup-char {
        font-weight: bold;
        color: $mdc-theme-primary;
    }

    .matchup-char:hover {
        cursor: pointer;
        color: $mdc-theme-primary-dark;
    }

    .matchup-header {
        background-color: #0F1315;
    }

    .matchup-row-offset {
        background-color: #0F1315;
    }

}


.open-in-new {
    position: relative;
}

.open-in-new i {
    display: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.open-in-new:hover {
    border-color: rgba(#fff,.3);
    opacity: 0.7;
}

.open-in-new:hover i {
    color: $text-color;
    font-size: 36px;
    display: block;
    pointer-events: none;
}

/*
 * Matchup Table
 */
div#matchup-display {
    border-color: $text-color;
}

#matchup-buttons {
    display: none;
}

#matchup-filters {

    section {
        border-top: 1px solid rgba(#fff, 0.12);
        margin-top: 12px;
        padding-top: 12px;
        width: 100%;
    }

    .no-border {
        border: none;
        margin-top: 24px;
        padding-top: 0;
    }

    .mdc-typography--subheading2 {
        margin: 8px 0;
    }

    --mdc-layout-grid-gutter-desktop: 0px;
    --mdc-layout-grid-gutter-tablet: 0px;
    --mdc-layout-grid-gutter-phone: 0px;

    --mdc-layout-grid-margin-desktop: 8px;
    --mdc-layout-grid-margin-tablet: 8px;
    --mdc-layout-grid-margin-phone: 8px;
}

#matchup-panel {
    display: none;
}

#matchup-table-container {
    margin: 0;
    padding: 0;

    #matchup-table {
        margin: 16px 0;
        width: 100%;
        font-size: 12px;
        text-align: center;
        border-collapse: collapse;

        .matchup-portrait-container, .matchup-portrait {
            width: 40px;
            height: 40px;
            vertical-align: middle;
        }

        th {
            padding: 2px 0.3em;
            color: $mdc-theme-secondary;
            border: 1px solid #6c6c6c;
        }

        td {
            padding: 2px 0.3em;
            border: 1px solid #6c6c6c;
        }

        td:first-child {
            padding: 0;

            i {
                font-size: 24px;
            }
        }
    }
}


#matchup-overview {
    display: block;
    margin-bottom: 0.8em;
    text-align: center;
    font-weight: bold;
}

#override-msg {
    margin: 0;
    line-height: 130%;
    white-space: normal;
    font-style: italic;
    color: #5b5b5b;
    text-align: center;
    padding-top: 0.5em;
}

.compare-icon {
    display: inline;
    vertical-align: middle;
}

/*
 * 1v1 Panel
 */
#single-combat {
    display: flex;
    flex-flow: row wrap;
}

div#result-table {
    margin-right: 8px;
    margin-bottom: 8px;
    flex: 0 0 210px;
    background: rgba(0,0,0,0.25);
    border-radius: 2px;
    padding: 8px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#interaction-list {
    flex: 1 1 auto;
    padding: 0em;
    margin-top: 0px;
    max-width: 60ch;
}

img#portrait-1, img#portrait-2 {
    width: 75px;
    height: 75px;
}

.battle-interaction, .battle-interaction-final {
    padding: 0.6em 0em;
}

.battle-interaction-first, .battle-interaction-only {
    padding: 0 0 0.6em 0;
}

.battle-interaction, .battle-interaction-first {
    border-bottom: 1px solid #6c6c6c;
}

.battle-interaction-final, .battle-interaction-only {
    border-bottom: none;
}

.collapsable {
    display: none;
}

.extra-info {
    color: #5b5b5b;
}

.heal-seperator {
    padding: 0em 0.5em;
}

.ability-desc-container {
    white-space: normal;
    color: darken($text-color, 10%);
}

.inherit {
    color: $cool-red;
}

.attacker {
    color: $cool-teal;
}

.defender {
    color: $cool-red
}

.dmg {
    color: #fff;
}

/*
 * Credits
 */
section#credits {
    flex: 1 1 320px;
    max-width: 960px;
    margin: 0 auto;
    padding: 24px;
    background: none;
}

/*
 * Reddit
 */
section#reddit-markdown {
    width: 100%;
    margin: 8px;
    padding: 8px;
    display: none;
}


/*
 * Floating action button
 */
.app-fab--absolute {
    background-position: center;
}

.app-fab--absolute.app-fab--absolute {
  position: fixed;
  z-index: 2;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
   .app-fab--absolute.app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

/*
 * Asset Loading
 */

body::after {
    display: none;
    content: url(/images/damage-calc/swap-hover.png) url(/images/damage-calc/Portraits/Unselected-hover.png);
}
