		<div class="se-pre-con"></div>

		<a href="#body">
			<button class="app-fab--absolute mdc-fab material-icons mdc-theme--secondary-light mdc-theme--text-primary-on-light" aria-label="Favorite" data-mdc-auto-init="MDCRipple">
				<span class="mdc-fab__icon">
					arrow_upward
				</span>
			</button>
		</a>

		<div id="wrapper" class="mdc-typography--body1">

			<div class="mdc-layout-grid" id="calc">
				<div class="mdc-layout-grid__inner" id="char-panel">

					<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone mdc-card mdc-theme--background">
						<section class="mdc-card__primary">
							<h1 class="mdc-typography--headline5 mdc-theme--secondary-light">Fire Emblem Heroes Combat Simulator</h1>
							<h2 class="mdc-typography--subtitle1">KageroCalc - Community Edition - <a href="https://github.com/winsomniak/kagero-calc/issues/">Report Bug</a></h2>

						</section>
						<div class="mdc-card__actions" id="modes-container">
							<div id="modes" title="Select a mode of calculation." class="ui-radioset">

								<div class="mdc-form-field">
									<div class="mdc-radio">
								    	<input class="mdc-radio__native-control" type="radio" id="one-vs-one" name="mode" checked>
										<div class="mdc-radio__background">
									    	<div class="mdc-radio__outer-circle"></div>
									    	<div class="mdc-radio__inner-circle"></div>
										</div>
									</div>
									<label for="one-vs-one">Duel</label>
								</div>

								<div class="mdc-form-field">
									<div class="mdc-radio">
								    	<input class="mdc-radio__native-control" type="radio" id="one-vs-all" name="mode">
										<div class="mdc-radio__background">
									    	<div class="mdc-radio__outer-circle"></div>
									    	<div class="mdc-radio__inner-circle"></div>
										</div>
									</div>
									<label for="one-vs-all">Attacker vs. All</label>
								</div>

								<div class="mdc-form-field">
									<div class="mdc-radio">
								    	<input class="mdc-radio__native-control" type="radio" id="all-vs-one" name="mode">
										<div class="mdc-radio__background">
									    	<div class="mdc-radio__outer-circle"></div>
									    	<div class="mdc-radio__inner-circle"></div>
										</div>
									</div>
									<label for="all-vs-one">All vs. Defender</label>
								</div>

							</div>
						</div>
					</div>

					{{#if ads}}
					<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" id="ad-above-fold">
						{{> ads/responsive_above_fold }}
					</div>
					{{/if}}

					<div id="attack-panel" class="
					  mdc-layout-grid__cell
					  mdc-layout-grid__cell--span-6-desktop
					  mdc-layout-grid__cell--span-4-tablet
					  mdc-layout-grid__cell--span-4-phone
					  char-info">

						{{#attackPanel}}
						{{> character_panel}}
						{{/attackPanel}}
					</div>

					<div id="defend-panel" class="
					  mdc-layout-grid__cell
					  mdc-layout-grid__cell--span-6-desktop
					  mdc-layout-grid__cell--span-4-tablet
					  mdc-layout-grid__cell--span-4-phone
					  char-info">
						{{#defendPanel}}
						{{> character_panel}}
						{{/defendPanel}}
					</div>

					<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone ">
						<div class="mdc-layout-grid__inner">
							<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" id="battle-log">
								{{> battle_results}}
							</div>

							<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" id="matchup-panel">
								{{> matchup_panel}}
							</div>

							<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" id="matchup-filters" >
								{{> matchup_filters}}
							</div>

							<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" id="matchup-overrides">
								{{> matchup_overrides}}
							</div>
						</div>
					</div>

					<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone mdc-card mdc-theme--background" id="matchups">
						<section class="mdc-card__primary">
							<h2 class="mdc-typography--headline">Matchups</h2>
						</section>
						<div>
							<div id="matchup-table-container">
								<table id="matchup-table" class="sortable"></table>
							</div>
						</div>
					</div>

					{{#if ads}}
					<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
						{{> ads/matched_content}}
					</div>
					{{/if}}

					<section class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12" id="credits">
						<h3>Credits</h3>
						<p>
						A big thank you to <a href="https://github.com/rocketmo">rocketMo</a> for
								creating the original calculator and handing it off to KageroChart.
								This tool would not be possible without your hard work!
						</p>
						<p><a id="legacy-link" href="/legacy-damage-calc">Legacy Version</a></p>
					</section>
				</div>
			</div>

			{{> clipboard_snackbar}}
		</div>
